@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #171C20;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: rgb(34, 33, 33);
}

.logo {
  text-align: center;
}

.logo .text {
  color: #fff;
  font-family: 'Comfortaa', cursive;
  font-size: 75px;
  letter-spacing: -0.05em;
  font-weight: 900;
  margin: 0;
}

span.detail {
  color: #37C5A3;
}

.logo p {
  color: #fff;
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  font-weight: 900;
  margin: -5px 0 0 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
